#Папки зависимостей node.js, они будут устанавливаться после пуша через npm
node_modules/

# Папка сборки ФРОНТЕНД-ПРИЛОЖЕНИЯ
dist/

# Папка сборки Rust проэктов
target/

#Папка окружения (тут пароли, токены)
.env

.vscode/

# Системный файл MacOs
.DS_Store

.*log  